version: '3'

networks:
  web_net:
    external: true
    driver: bridge

volumes:
  minio_data:

services:
  minio:
    image: quay.io/minio/minio:RELEASE.2023-08-16T20-17-30Z
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_ACCESS_KEY: ${ACCESS_KEY}
      MINIO_SECRET_KEY: ${SECRET_KEY}
      MINIO_SERVER_URL: https://${MINIO_API_SUB}.${DOMAIN_ADDRESS}
      MINIO_BROWSER_REDIRECT_URL: https://${MINIO_WEB_PANEL_SUB}.${DOMAIN_ADDRESS}
    volumes:
      - minio_data:/data
    command: server --console-address ":9001" /data
    networks:
      - web_net
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web_net"
      - "traefik.http.routers.minio1.entrypoints=http"
      - "traefik.http.routers.minio1.rule=Host(`${MINIO_WEB_PANEL_SUB}.${DOMAIN_ADDRESS}`)"
      - "traefik.http.routers.minio1.middlewares=https-redirect"
      - "traefik.http.middlewares.https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.minio1-secure.entrypoints=https"
      - "traefik.http.routers.minio1-secure.rule=Host(`${MINIO_WEB_PANEL_SUB}.${DOMAIN_ADDRESS}`)"
      - "traefik.http.routers.minio1-secure.tls=true"
      - "traefik.http.routers.minio1-secure.tls.options=default"
      - "traefik.http.routers.minio1-secure.tls.certresolver=mycert"
      - "traefik.http.routers.minio1-secure.service=minio1"
      - "traefik.http.services.minio1.loadbalancer.server.port=9001"

      - "traefik.http.routers.minio1-api.entrypoints=http"
      - "traefik.http.routers.minio1-api.rule=Host(`${MINIO_API_SUB}.${DOMAIN_ADDRESS}`)"
      - "traefik.http.routers.minio1-api.middlewares=https-redirect"
      - "traefik.http.routers.minio1-api-secure.entrypoints=https"
      - "traefik.http.routers.minio1-api-secure.rule=Host(`${MINIO_API_SUB}.${DOMAIN_ADDRESS}`)"
      - "traefik.http.routers.minio1-api-secure.tls=true"
      - "traefik.http.routers.minio1-api-secure.tls.options=default"
      - "traefik.http.routers.minio1-api-secure.tls.certresolver=mycert"
      - "traefik.http.routers.minio1-api-secure.service=minio1-api"
      - "traefik.http.services.minio1-api.loadbalancer.server.port=9000"
